

  <!DOCTYPE html>
  <html lang="en">
  
  <form [formGroup]="userForm" id="userForm">
  <body>
      <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
          <div class="wrapper wrapper--w790">
              <div class="card card-5">
                  <div class="card-heading">
                      <h2 class="title">Property Registration Form</h2>
                  </div>
                  <div class="card-body">
                      <div class="form-row m-b-55">
                         <div class="name">Owner</div> 
                           <div class="value">
                              <div class="input-group">
                                  <input class="input--style-5" type="text" name="account" formControlName="account"> 
                              </div>
                          </div>
                      </div>
                      
                        <div class="form-row m-b-55">
                              <div formArrayName="names" >
                              <button style='display:flex' type="button" (click)="addName()">+</button>
                              <div *ngFor="let name of names.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormFirstName-{{ i }}"><div class="name">Property Name: </div> </label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormFirstName-{{ i }}" type="text" [formControlName]="i">
                                </div>
                              <!-- <div class="name">Company</div> -->
                              <!-- <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="names"> -->
                                  </div>
                              </div>
                          </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="row row-space">
                              <div formArrayName="addresses" >
                              <button style='display:flex' type="button" (click)="addAddress()">+</button>
                              <div *ngFor="let name of addresses.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormaddress-{{ i }}"><div class="name">Property Address:</div></label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormaddress-{{ i }}" type="text" [formControlName]="i">
                                </div>
                              <!-- <div class="name">Company</div> -->
                              <!-- <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="names"> -->
                                  </div>
                              </div>
                              </div>
                              </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="row row-space">
                              <div formArrayName="ids" >
                              <button style='display:flex' type="button" (click)="addId()">+</button>
                              <div *ngFor="let name of ids.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormid-{{ i }}"><div class="name">Property ID:</div></label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormid-{{ i }}" type="text" [formControlName]="i">
                                </div>
                              <!-- <div class="name">Company</div> -->
                              <!-- <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="names"> -->
                                  </div>
                              </div>
                              </div>
                              </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="row row-space">
                              <div formArrayName="descriptions" >
                              <button style='display:flex' type="button" (click)="addDescription()">+</button>
                              <div *ngFor="let name of descriptions.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormdescription-{{ i }}"><div class="name">Property Description:</div></label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormdescription-{{ i }}" type="text" [formControlName]="i">
                                </div>
                             </div>
                              </div>
                              </div>
                              </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="row row-space">
                              <div formArrayName="values" >
                              <button style='display:flex' type="button" (click)="addValue()">+</button>
                              <div *ngFor="let name of values.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormvalue-{{ i }}"><div class="name">No of Tokens:</div></label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormvalue-{{ i }}" type="text" [formControlName]="i">
                                </div>
                              <!-- <div class="name">Company</div> -->
                              <!-- <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="names"> -->
                                  </div>
                              </div>
                              </div>
                              </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="row row-space">
                              <div formArrayName="sizes" >
                              <button style='display:flex' type="button" (click)="addSize()">+</button>
                              <div *ngFor="let name of sizes.controls; let i=index" class="col"style='display:flex;'>
                                  <label for="defaultRegisterFormsize-{{ i }}"><div class="name">Property area in sq.ft:</div></label>
                                  <div class="value">
                                      <div class="input-group">
                                  <input class="input--style-5" id="defaultRegisterFormsize-{{ i }}" type="text" [formControlName]="i">
                                </div>
                              <!-- <div class="name">Company</div> -->
                              <!-- <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="names"> -->
                                  </div>
                              </div>
                              </div>
                              </div>
                          </div>
                          <!-- <div class="text-center">
                              <input class="form-control" type="file"
                                      (change)="onFileChange(($event))" formControlName="file">
                          
                              <button (click)="onUpload(userForm.value)"
                                  class="btn btn-success">
                                  Upload
                              </button>
                  
                              <div class="row"  *ngIf="showMsg">
                                  <div class="col-xs-12">
                                    <p class="alert alert-success">
                                        <strong>Data Uploaded Successfully!</strong> .
                          
                                    </p>
                                  </div>
                                </div>
                          </div> -->
                          
                          <div class="text-center"> 
                              
                            <input  class="file-input" type="file" id="filedata"
                                    (change)="onFileChange($event)" formControlName="file">
                                    <!-- <button  (click)=" onSubmit()"
                                    class="btn btn-success">
                                    Register Properties
                                </button> -->

                            <!-- <button  
                                class="btn btn-success">
                                Upload
                            </button> -->
                          </div>
                        <br>
                          <div>
                              <!-- <button class="btn btn--radius-2 btn--red" (click)="onSubmit()" type="submit">Register Properties</button> -->
                             
                              <button  (click)=" onSubmit()"
                              class="btn btn--red">
                              Register Properties
                          </button>
                          &nbsp;
                              <button class="btn btn--radius-2 btn--red">  <a style="color:aliceblue" [routerLink]="['transfer']">GO to transfer</a> </button>
                              &nbsp;
                             
                            </div>

                      
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Jquery JS-->
      <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
      <!-- Vendor JS-->
      <!-- <script src="vendor/select2/select2.min.js"></script>
      <script src="vendor/datepicker/moment.min.js"></script>
      <script src="vendor/datepicker/daterangepicker.js"></script> -->
  
      <!-- Main JS-->
      <!-- <script src="js/global.js"></script> -->
  
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
  </form>>
  
  </html>
  <!-- end document-->
  